.conta{
  margin-top:5vh;
}
.h{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-size: 54px;
    font-weight: 600;
    font-family: -webkit-pictograph;
    color:black;
   
  }
  .small-heading{
    font-family: -webkit-pictograph;
    color: #ffa800;
    font-size: 24px;
    font-weight: 800;
  
  }
  .cont{
    width:85vw;
    margin:auto;
}
table{
  color:#172b4c;
}
td{
  font-size: 14px;
}
.rounded-circle{
  width:22px;
  margin-right:10px;
}

@media screen and (max-width: 768px) {
  .h{
    font-size:2rem;
  }
  .small-heading{
    font-size: 1rem;
  }
}

.yellowline{
  background-color: #ffa800 !important;
  color: #ffffff;
  height: 1px;
  width: 100px !important;
}


