nav {
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

.cont{
    width:100vw;
    padding: 0 7.5% 0 7.5%;
}
.brand{
    font-size: 2rem;
    color:#FFC107;
    font-weight: 700;
}
.brand:hover{
    color:#1d1c1b;
}
.nav-link{
    font-family: 'IBM Plex Sans', sans-serif; 
    color:black;
    margin-left:15px;
}
.nav-link:hover{
    color:#FFC107; 
    background-color: white;
}
.dropdown-toggle:active{
    color:#FFC107; 
    background-color: white;
}
.navbar-toggler{
    background-color:#FFC107;
}  
.navbar-toggler-icon{
    filter: brightness(0) invert(1);
}

.dropdown button{
 padding:8px;
 border:0px;
 background-color: white;
}
.dropdown-item:hover{
background-color:#FFC107 ;
color:white;
}
.navbar-collapse{
    background-color: white;
}