nav {
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}
#navbar_top{
    
    padding:10px 40px 0 30px;
}
.nav-top-after{
 padding:0 10px 0 10px;
}
.nav-item{
    background-color: white;
}

.cont{
    width:100vw;
    padding: 0 7.5% 0 7.5%;
}
.brand{
    font-size: 2rem;
    color:#ffa800;
    font-weight: 700;
}
.nav-link{
    font-family: 'IBM Plex Sans', sans-serif; 
    color:black;
    background-color:white;
    margin-left:15px;
}
.my-toggler{
    border-color: white;
}
.nav-link:hover{
    color:#ffa800; 
    background-color: white;
}
.nav-link:active{
    border:1px solid white;
    color:#ffa800; 
    background-color: white;
}
.dropdown-toggle:active{
    color:#ffa800; 
    background-color: white;
}
.navbar-toggler{
    background-color:#ffa800;
}  

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown button{
 padding:8px;
 border:0px;
 background-color: white;
}
.dropdown-item:hover{
background-color:#ffa800 ;
color:white;
}
.navbar-collapse{
    background-color: white;
}